
{% extends "base.html" %}

{% block title %}前走情報の一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">前走情報の一覧</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>競走成績キー</th>
          <th>前走距離</th>
          <th>前走タイム差</th>
          <th>前走前3Fタイム</th>
          <th>前走後3Fタイム</th>
        </tr>
      </thead>
      <tbody>
        {% for zensou in zensou %}
        <tr>
          <td>{{ zensou.seiseki_key }}</td>
          <td>{{ zensou.zensou_kyori }}</td>
          <td>{{ zensou.zensou_tm_sa }}</td>
          <td>{{ zensou.zensou_3ftm_before }}</td>
          <td>{{ zensou.zensou_3ftm_after }}</td>
          <td>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
